/*custom css of jasons page*/
.jumbotron{
    height : 450px;
    color : #ffff00;
    background-image : url(../images/header2.jpg); 
    background-size :cover;
    }
    
.thumbnail{
    background-color : #cccccc;
    }